# Requirements

# Frameworks
pydantic


# OpenAI
openai
python-dotenv
requests

# Notebooks
ipykernel
IPython
jupyter
# ipywidgets
# pandas
# numpy
# matplotlib
# seaborn

# Pre-commit
pre-commit

# Testing
pytest
pytest-mock
pytest-cov

# Other
tenacity
structlog
